{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}

{% block title %}
  <title>Byrd Ticketing System | Tickets</title>
{% endblock title %}

{% block css_links %}
    <link rel="stylesheet" href="{% static 'css/tickets.css' %}">
{% endblock css_links %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10 ticket-form-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                  <strong>Success!</strong> {{message}}.
                </div>
            {% endfor %}
        {% endif %}
        <h3>Tickets</h3>
        <hr>
        {% for ticket in tickets %}
        <hr>
        {{ticket.subject}}
        {% if ticket.urgency == 'Low' %}
        <span class="urgency-low urgency">
        {% elif ticket.urgency == 'Mid' %}
        <span class="urgency-mid urgency">
        {% else %}
        <span class="urgency-high urgency">
        {% endif %}
        {{ticket.urgency}} Urgency</span>
        {% if ticket.ticket_type == 'Bug Report' %}
        <span class="urgency-bug type">
        {% elif ticket.ticket_type == 'Feature Request' %}
        <span class="urgency-feature type">
        {% else %}
        <span class="urgency-other type">
        {% endif %}
        {{ticket.ticket_type}} </span>
         <span>{{ticket.status}} </span>
        <div class="dropdown actions-button">
          <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'edit_ticket' ticket.pk %}">Edit</a>
            <a class="dropdown-item" href="#">Add comment</a>
            <a class="dropdown-item" href="" onclick="delete_ticket(this, {{ticket.pk}});">Delete</a>
          </div>
        </div>
        <br>
        <b>{{ticket.name}}</b> {{ticket.email}}
        <br>
        {{ticket.message}}
        <br>
        {% endfor %}
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
{% endblock content %}
{% block js_links %}
<script type="text/javascript">
function delete_ticket(a, id){
if (confirm('Are you sure you want to delete this ticket ?')) {
    $.ajax({
       type: "GET",
       url: "/support/delete-ticket/" + id + "/",
       data: '',
      cache:'false',
       success: function(data){
          console.log("Success!");
          window.location.replace('/support/tickets/');
       },
       error: function(){
        console.log("Error!");
       }
  });
    }
}
</script>
{% endblock js_links %}
